
body,h1,h3 {
    font-family: "Poppins", sans-serif;
}
body {
    font-size: 16px;
}

.divSquare {
    background-color: rgb(177, 161, 193);
    width: 8px;
    height: 8px;
}

#sketchPad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
    height: 700px;
}
