body {
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

div {
    background-color: blueviolet;
    width: 5px;
    height: 5px;
}

header {
    text-align: center;
}


#labels {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#label1 {
    margin: 0;
    padding: 0;
    width: 800px;
}

#label2 {
    margin: 0;
    padding: 0;
    width: 200px;
}

#main {
    display: flex;
}

#palette {
    width: 200px;
}

#sketchPad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    height: 800px;
}